// creat dynamic action 
event after refresh
select region
region name 

// execute javascript code


var legendHTML = `
  <div id="custom-legend" style="margin-top:6px; display:flex; gap:18px; flex-wrap:wrap; align-items:center;">
    <div style="display:flex; align-items:center;">
      <img src="#APP_FILES#NO_IMAGE.ico" width="25" height="25" style="margin-right:6px;">
      <span>No Image Attached</span>
    </div>
    <div style="display:flex; align-items:center;">
      <img src="#APP_FILES#image_created.ico" width="25" height="25" style="margin-right:6px;">
      <span>Image Uploaded</span>
    </div>
  </div>

`;

// Only add it once
if (!document.querySelector("#custom-legend")) {
  document.querySelector("#AR_toolbar_controls")?.insertAdjacentHTML("beforeend", legendHTML);
}
